footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.caixaFooter {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 100px;
}

.caixaFooter .contatoInformacoesFooter{
	display: flex;
}

.contatoInformacoesFooter h1 {
	font-size: 31px;
	font-weight: 900;
	line-height: 41px;
	margin-bottom: 18px;
    font-style: fontLight;
}

.contatoInformacoesFooter .contatosFooter {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.contatosFooter .contatosInformacoes {
	display: flex;
	gap: 7px;
}

.contatosFooter .contatosInformacoes i {
	width: 24px;
	height: 24px;
    color: #4bf70c;
}

.contatoInformacoesFooter .linksFooter {
	width: 213px;
	height: 42px;
	display: flex;
	gap: 15px;
}

.linksFooter .iconesFooter {
    box-shadow: 0 1px 20px -5px rgba(75,248,13,0.75);
    -webkit-box-shadow: 0 1px 20px -5px rgba(75,248,13,0.75);
    -moz-box-shadow: 0 1px 20px -5px rgba(75,248,13,0.75);
	width: 42px;
	height: 42px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.linksFooter .iconesFooter i {
	font-size: 25px;
    color: #4bf70c;
}

.caixaFooter .setaHeader {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    box-shadow: 0 1px 20px -5px rgba(75,248,13,0.75);
    -webkit-box-shadow: 0 1px 20px -5px rgba(75,248,13,0.75);
    -moz-box-shadow: 0 1px 20px -5px rgba(75,248,13,0.75);
	font-size: 25px;
}

.copyright {
	width: 322px;
	height: 55px;
	font-size: 22px;
	line-height: 55px;
	font-weight: 200;
    font-family: 'Poppins', sans-serif;
}