footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.caixaFooter {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 10rem;
}

.caixaFooter .contatoInformacoesFooter{
	display: flex;
}

.contatoInformacoesFooter h1 {
	color: #fff;
	font-size: 3.1rem;
	font-weight: 900;
	line-height: 4.1rem;
	margin-bottom: 1.8rem;
    font-style: fontLight;
}

.contatoInformacoesFooter .contatosFooter {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}

.contatosFooter .contatosInformacoes {
	display: flex;
	gap: .7rem;
}

.contatosFooter .contatosInformacoes i {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
    color: var(--color-verde-padrao);
}

.contatoInformacoesFooter .linksFooter {
	width: 21.3rem;
	height: 4.2rem;
	display: flex;
	gap: 1.5rem;
}

.linksFooter .iconesFooter i{
    box-shadow: 0 1px 20px -5px var(--color-verde-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-verde-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-verde-hover);
	font-size: 2.5rem;
	color: var(--color-verde-padrao);
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    transition: 0.8s ease;
}

.linksFooter .iconesFooter.linkedin i:hover {
	color:#fff;
	box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    background-color: var(--color-azul);
    box-shadow: 0 0 20px var(--color-azul-hover);
}

.linksFooter .iconesFooter.github i:hover {
	color: #fff;
	box-shadow: 0 1px 20px -5px var(--color-github-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-github-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-github-hover);
    background-color: var(--color-github);
    box-shadow: 0 0 20px var(--color-github);
}

.linksFooter .iconesFooter.whatsapp i:hover {
	color: #fff;
	background-color: var(--color-verde-padrao);
    box-shadow: 0 0 20px var(--color-verde-padrao);
}

.linksFooter .iconesFooter.instagram i:hover {
	color: #fff;
	box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    background-color: #cf3a56;
    box-shadow: 0 0 20px #cf3a56;

}

.caixaFooter .setaHeader i{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-verde-padrao);
    box-shadow: 0 1px 20px -5px var(--color-verde-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-verde-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-verde-hover);
	font-size: 2.5rem;
    transition: 0.8s ease;
}

.caixaFooter .setaHeader i:hover {
	width: 5.5rem;
	height: 5.5rem;
	color: #fff;
	background-color: var(--color-verde-padrao);
    box-shadow: 0 0 20px var(--color-verde-padrao);
	font-size: 3rem;
}

.copyright {
	width: 32.2rem;
	height: 5.5rem;
	font-size: 2.2rem;
	line-height: 5.5rem;
	font-weight: 200;
    font-family: 'Poppins', sans-serif;
}