#habilidades {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.posicaoHabilidades {
	width: 986px;
	height: 459px;
	background: rgb(76,76,76);
    background: linear-gradient(236deg, rgba(76,76,76,1) 26%, rgba(16,16,16,1) 89%);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.posicaoHabilidades .conteudoHabilidades {
	margin-top: 57px;
}

.conteudoHabilidades h1 {
	margin-bottom: 55px;
	font-size: 27px;
	font-weight: 900;
	text-align: center;
    color: #4bf70c;
    font-style: fontNormal;
}

.conteudoHabilidades .habilidadesLogos {
	width: 639px;
	height: 158px;
}

.habilidadesLogos .logos-01 {
	width: 100%;
	height: 92px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.habilidadesLogos .elipse i{
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-color: #315324;
	color: #4bf70c;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 40px;
	margin-bottom: 14px;
    transition: 0.8s ease;
}

.habilidadesLogos .html.elipse i:hover {
	color: #fff;
	background-color: #e44d26;
}

.habilidadesLogos .css.elipse i:hover {
	color: #fff;
	background-color: #1d538e;
}

.habilidadesLogos .sass.elipse i:hover {
	color: #fff;
	background-color: #c66493;
}

.habilidadesLogos .bootstrap.elipse i:hover {
	color: #fff;
	background-color: #8411f6;
}

.habilidadesLogos .javascript.elipse i:hover {
	color: #fff;
	background-color: #f9b134;
}

.habilidadesLogos .typescript.elipse i:hover {
	color: #fff;
	background-color: #2f72bc;
}

.habilidadesLogos .nodejs.elipse i:hover {
	color: #fff;
	background-color: #7cb73f;
}

.habilidadesLogos .angular.elipse i:hover {
	color: #fff;
	background-color: #d6002f;
}

.habilidadesLogos .git.elipse i:hover {
	color: #fff;
	background-color: #e84d31;
}

.habilidadesLogos .github.elipse i:hover {
	color: #fff;
	background-color: #39d353;
}

.habilidadesLogos p {
	font-size: 12px;
	font-weight: 400;
}