#habilidades {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.containerHabilidades {
	width: 98.6rem;
    background: linear-gradient(236deg, rgba(76,76,76,1) 26%, rgba(16,16,16,1) 89%);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	margin: 0 10rem;
}

.containerHabilidades h1 {
	margin: 5.5rem 0; 
	font-weight: 900;
	text-align: center;
    color: var(--color-verde-padrao);
}

.containerHabilidades .habilidadesLogos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.habilidadesLogos .logos-01 {
	width: 100%;
	height: 9.2rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.habilidadesLogos .elipse i{
	width: 6.8rem;
	height: 6.8rem;
	border-radius: 50%;
	background-color: #315324;
	color: #4bf70c;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 4rem;
	margin-bottom: 1.4rem;
    margin: 1.5rem 2.5rem;
    transition: 0.8s ease;
}

.habilidadesLogos .html.elipse i:hover {
	color: #fff;
	background-color: var(--color-html);
}

.habilidadesLogos .css.elipse i:hover {
	color: #fff;
	background-color: var(--color-css);
}

.habilidadesLogos .sass.elipse i:hover {
	color: #fff;
	background-color: var(--color-sass);
}

.habilidadesLogos .bootstrap.elipse i:hover {
	color: #fff;
	background-color: var(--color-bootstrap);
}

.habilidadesLogos .javascript.elipse i:hover {
	color: #fff;
	background-color: var(--color-javascript);
}

.habilidadesLogos .typescript.elipse i:hover {
	color: #fff;
	background-color: var(--color-typescript);
}

.habilidadesLogos .nodejs.elipse i:hover {
	color: #fff;
	background-color: var(--color-nodejs);
}

.habilidadesLogos .angular.elipse i:hover {
	color: #fff;
	background-color: var(--color-angular);
}

.habilidadesLogos .git.elipse i:hover {
	color: #fff;
	background-color: var(--color-git);
}

.habilidadesLogos .github.elipse i:hover {
	color: #fff;
	background-color: var(--color-github);
}

.habilidadesLogos p {
	margin-bottom: 4rem;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	#habilidades {
		height: auto;
		padding: 12rem 0 0 3rem;
	}

	.containerHabilidades {
		padding: 5rem 3rem;
		margin: 0;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	#habilidades {
		padding: 50rem 0 0 0;
	}
}