header {
    width: 100%;
}

.conteudoHeader {
    margin: 0 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.conteudoHeader ul {
    display: flex;
    gap: 25px;
}

.conteudoHeader ul li a {
    font-size: 22px;
    transition: 0.8s ease;
}

.conteudoHeader ul li a:hover {
    color: var(--verdePadrao);
}

.conteudoHeader .lingua {
    padding: 10px;
    margin-left: 30px;
    border-radius: 50%;
    transition: 0.8s ease;
}

.conteudoHeader .lingua:hover {
    box-shadow: 0 1px 20px -5px var(--verdeHover);
    -webkit-box-shadow: 0 1px 20px -5px var(--verdeHover);
    -moz-box-shadow: 0 1px 20px -5px var(--verdeHover);
}

.conteudoHeader .lingua img {
    width: 25px;
    height: 15px;
}