header {
    width: 100%;
}

.conteudoHeader {
    margin: 0 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.conteudoHeader ul {
    display: flex;
    gap: 25px;
}

.conteudoHeader ul li a {
    font-size: 22px;
}

.conteudoHeader .lingua {
    background: rgb(81,81,81);
    background: linear-gradient(236deg, rgba(81,81,81,1) 44%, rgba(0,0,0,1) 100%);
    padding: 10px;
    margin-left: 30px;
    border-radius: 50%;
}

.conteudoHeader .lingua img {
    width: 25px;
    height: 15px;
}