#home {
    height: 80vh;
}

.containerHome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5rem 10rem;
}

.informacaoHome .homeInfo {
    line-height: 8rem;
}

.informacaoHome .homeInfo h1 {
    color: #fff;
    font-size: 7rem;
    font-family: fontLight;
}

.informacaoHome .homeInfo strong {
    font-family: fontBold;
}

.informacaoHome .homeInfo p {
    font-size: 3rem;
    font-family: fontBold;
}

.informacaoHome .resumoBaixar button {
    font-size: 1.5rem;
    padding: 1rem 3.5rem;
    font-weight: 700;
    color: #000;
    background-color: var(--color-verde-padrao);
    border: none;
    border-radius: .5rem;
    transition: 0.8s ease;
    cursor: pointer;
}

.informacaoHome .resumoBaixar button:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: var(--color-verde-escuro-hover);
    border-radius: 1.5rem;
    color: #fff;
}

.informacaoHome .contatos {
    margin-top: 2.5rem;
}

.informacaoHome .contatos a i {
    color: var(--color-verde-padrao);
    box-shadow: 0 1px 20px -5px var(--color-verde-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-verde-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-verde-hover);
    font-size: 3rem;
    padding: 1.5rem;
    margin: 1rem 1.5rem 3rem 0;
    border-radius: 50%;
    font-weight: 100;
    cursor: pointer;
    transition: 0.8s ease;
  }

.informacaoHome .contatos .contatoLinkedin i:hover {
    box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-azul-hover);
    background-color: var(--color-azul);
    box-shadow: 0 0 20px var(--color-azul);
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
  
.informacaoHome .contatos .contatoGithub i:hover {
    box-shadow: 0 1px 20px -5px var(--color-github-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-github-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-github-hover);
    background-color: var(--color-github);
    box-shadow: 0 0 20px var(--color-github);
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
  
.informacaoHome .contatos .contatoInstagram i:hover {
    box-shadow: 0 1px 20px -5px var(--color-instagram-hover);
    -webkit-box-shadow: 0 1px 20px -5px var(--color-instagram-hover);
    -moz-box-shadow: 0 1px 20px -5px var(--color-instagram-hover);
    background-color: var(--color-instagram);
    box-shadow: 0 0 20px var(--color-instagram);
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

.containerHome .imagemInicio {
    width: 36%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #home {
        height: 100vh;
    }

    .containerHome {
        margin: 15rem 0 0 5rem;
    }

    .containerHome .informacaoHome {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .informacaoHome .homeInfo h1 {
        font-size: 3.5rem;
        width: 100%;
    }

    .informacaoHome .homeInfo h1 strong {
        font-size: 2.9rem;
    }

    .informacaoHome .homeInfo p {
        font-size: 2rem;
    }

    .containerHome .imagemInicio {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .containerHome {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 10rem;
    }

    .containerHome .informacaoHome {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .containerHome .imagemInicio {
        width: 25rem;
    }
}