#home {
    height: 80vh;
}

.containerHome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 100px;
}

.informacaoHome .homeInfo {
    line-height: 80px;
}

.informacaoHome .homeInfo h1 {
    font-size: 70px;
    font-family: fontLight;
}

.informacaoHome .homeInfo strong {
    font-family: fontBold;
}

.informacaoHome .homeInfo p {
    font-size: 30px;
    font-family: fontBold;
}

.informacaoHome .resumoBaixar button {
    font-size: 15px;
    padding: 10px 35px;
    font-weight: 700;
    color: #000;
    background-color: var(--verdePadrao);
    border: none;
    border-radius: 5px;
    transition: 0.8s ease;
    cursor: pointer;
}

.informacaoHome .resumoBaixar button:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    background-color: var(--verdeEscuroHover);
    border-radius: 15px;
    color: #fff;
}

.informacaoHome .contatos {
    margin-top: 25px;
}

.informacaoHome .contatos a i {
    color: var(--verdePadrao);
    box-shadow: 0 1px 20px -5px var(--verdeHover);
    -webkit-box-shadow: 0 1px 20px -5px var(--verdeHover);
    -moz-box-shadow: 0 1px 20px -5px var(--verdeHover);
    font-size: 30px;
    padding: 15px;
    margin: 10px 15px 30px 0;
    border-radius: 50%;
    font-weight: 100;
    cursor: pointer;
    transition: 0.8s ease;
  }

.informacaoHome .contatos .contatoLinkedin i:hover {
    box-shadow: 0 1px 20px -5px var(--linkedinHover);
    -webkit-box-shadow: 0 1px 20px -5px var(--linkedinHover);
    -moz-box-shadow: 0 1px 20px -5px var(--linkedinHover);
    background-color: var(--linkedin);
    box-shadow: 0 0 20px var(--linkedin);
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
  
.informacaoHome .contatos .contatoGithub i:hover {
    box-shadow: 0 1px 20px -5px var(--gitHubHover);
    -webkit-box-shadow: 0 1px 20px -5px var(--gitHubHover);
    -moz-box-shadow: 0 1px 20px -5px var(--gitHubHover);
    background-color: var(--gitHub);
    box-shadow: 0 0 20px var(--gitHub);
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}
  
.informacaoHome .contatos .contatoInstagram i:hover {
    box-shadow: 0 1px 20px -5px var(instagramHover);
    -webkit-box-shadow: 0 1px 20px -5px var(instagramHover);
    -moz-box-shadow: 0 1px 20px -5px var(--instagramHover);
    background-color: var(--instagram);
    box-shadow: 0 0 20px var(--instagram);
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

#home .imagemInicio {
    width: 390px;
}