#projetos {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.cardeContainer {
  padding-block: 5rem;
}

.cardeConteudo {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.cardeArticle {
  width: 300px; 
  border-radius: 1.25rem;
  overflow: hidden;
}

.cardeImage {
  position: relative;
  background: linear-gradient(236deg, rgba(76,76,76,1) 26%, rgba(16,16,16,1) 124%);
  padding-top: 1.5rem;
}

.cardeLinks {
  background: linear-gradient(236deg, rgba(76,76,76,1) 26%, rgba(16,16,16,1) 89%);
  padding: 1.5rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.cardeImg {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.cardeNome {
  font-size: var(--h2-font-size);
  color: rgba(75, 247, 12, 1);
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: start;
}

.swiper-button-prev:after, 
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev, 
.swiper-button-next {
  width: 60px;
  height: initial;
  font-size: 3rem;
  color: #4bf70c;
  display: none;
}

.swiper-button-prev i, 
.swiper-button-next i {
    color: #4bf70c;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

.cardeArticle .cardeLinks .linksProjetos {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.cardeArticle .cardeLinks a i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #4BF70C;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.8s ease;
}

.cardeArticle .cardeLinks .gitHubLink i:hover {
  box-shadow: 0 1px 20px -5px rgba(53, 198, 78,0.75);
    -webkit-box-shadow: 0 1px 20px -5px rgba(53, 198, 78,0.75);
    -moz-box-shadow: 0 1px 20px -5px rgba(53, 198, 78,0.75);
    background-color: #39d353;
    box-shadow: 0 0 20px #39d353;
}

.cardeArticle .cardeLinks .deployLink i:hover {
    box-shadow: 0 1px 20px -5px rgba(23, 115, 233,0.75);
    -webkit-box-shadow: 0 1px 20px -5px rgba(23, 115, 233,0.75);
    -moz-box-shadow: 0 1px 20px -5px rgba(23, 115, 233,0.75);
    background-color: #1877F2;
    box-shadow: 0 0 20px #1877F2;
}

@media screen and (max-width: 320px) {
  .cardeLinks {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .cardeConteudo {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .cardeContainer {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}