#sobre {
	height: 100vh;
	display: flex;
	justify-content: center;
}

.marginSobre {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 79px;
	margin: 0 100px;
}
.caixaInformacoes {
	width: 355px;
	height: 540px;
	background: rgb(76,76,76);
    background: linear-gradient(236deg, rgba(76,76,76,1) 26%, rgba(16,16,16,1) 89%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	position: relative;
}

.caixaInformacoes::before {
	content:"";
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom left, #388d18, #4bf70c);
	z-index: -1;
	margin: -1px;
	border-radius: 8px;
}

.caixaInformacoes img {
	width: 300px;
	border-radius: 10px;
	margin-bottom: 16px;
}

.caixaInformacoes .contratavel {
	width: 300px;
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
}

.contratavel .tituloContatos {
	background-color: #388d18;
	height: 26px;
	width: 118px;
	font-size: 12px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
    border: none;
}

.contratavel .contato {
	display: flex;
	gap: 14px;
}

.contratavel .contato a i{
    font-size: 18px;
    height: 33px;
    width: 33px;
    background-color: #388d18;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.8s ease;
}

.contratavel .contato .contatoWhatsapp i:hover {
	background-color: #4bf70c;
}

.contratavel .contato .contatoLinkedin i:hover {
	background-color: #1773e9;
}

.contratavel .contato .contatoInstagram i:hover {
	background-color: #cf3a56;
}

.informacaoDeContato h1 {
    color: #4bf70c;
	font-size: 18px;
	font-weight: 700;
	width: 100%;
	margin-bottom: 15px;
}

.informacaoDeContato .contatos {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.contatos .contatosInformaçoes {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 13px;
}

.contatos .contatosInformaçoes i {
	font-size: 24px;
	margin-right: 8px;
    color: #4bf70c;
}

.resumoSobre h1 {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 24px;
    font-family: fontNormal;
    color: #4bf70c;
}

.resumoSobre .caixaResumo {
	width: 523px;
	height: 385px;
}

.resumoSobre .caixaResumo p {
	font-size: 16px;
	font-weight: 300;
    font-family: fontLight;
    line-height: 25px;
}