#sobre {
	height: 100vh;
	display: flex;
	justify-content: center;
}

.containerSobre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10rem ;
}

.marginSobre {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7.9rem;
}

.caixaInformacoes {
	height: 54rem;
	padding: 2rem;
    background: linear-gradient(236deg, rgba(76,76,76,1) 26%, rgba(16,16,16,1) 89%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	position: relative;
}

.caixaInformacoes::before {
	content:"";
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom left, var(--color-verde-escuro-hover), var(--color-verde-padrao));
	z-index: -1;
	margin: -1px;
	border-radius: 8px;
}

.caixaInformacoes img {
	width: 30rem;
	border-radius: 1rem;
	margin-bottom: 1.6rem;
}

.informacaoDeContato h1 {
	color: #fff;
	width: 100%;
	margin-bottom: 1.5rem;
}

.informacaoDeContato .contatos {
	display: flex;
	flex-direction: column;
	gap: 1.5px;
}

.contatos .contatosInformaçoes {
	display: flex;
	align-items: center;
	gap: .8rem;
	margin-bottom: 1.3rem;
}

.contatos .contatosInformaçoes i {
	font-size: 2.4rem;
	margin-right: .8rem;
    color: var(--color-verde-padrao);
}

.resumoSobre {
	margin: 2rem;
}

.resumoSobre h1 {
	color: var(--color-verde-padrao);
	margin-bottom: 2.4rem;
}

.resumoSobre .caixaResumo {
	width: 100%;
}

.resumoSobre .caixaResumo p {
	font-size: clamp(2.5rem, 2rem + 5vw, 2rem);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	#sobre {
		height: 100%;
	}
	.containerSobre{
		margin: 0 0 0 8rem;
	}

	.resumoSobre h1 {
		text-align: center;
	}

	.marginSobre {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	.containerSobre{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 55rem 0;
	}

	.caixaInformacoes {
		height: 40rem;
	}

	.caixaInformacoes img {
		width: 20rem;
	}

	.informacaoDeContato h1 {
		font-size: 2rem;
	}

	.contatos .contatosInformaçoes i {
		font-size: 1.4rem;
	}	

	.marginSobre {
		display: flex;
		flex-direction: column;
	}
}