* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #fff;
}

@font-face {
  font-family: 'fontNormal';
  src: url('assets/font/LouisGeorgeCafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontLight';
  src: url('assets/font/LouisGeorgeCafeLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontBold';
  src: url('assets/font/LouisGeorgeCafeBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 62.5%;
  --color-verde-padrao: #4bf70c;
  --color-verde-hover: rgba(75,248,13,0.75);
  --color-verde-escuro-hover: #009920;
  --color-azul: #1877F2;
  --color-azul-hover: rgba(23, 115, 233,0.75);
  --color-instagram: #E4405F;
  --color-instagramhover: rgba(207, 58, 86,0.75);
  --color-github: #39d353;
  --color-gitHub-hover: rgba(53, 198, 78,0.75);
  --color-html: #e44d26;
  --color-css: #1d538e;
  --color-sass: #c66493;
  --color-bootstrap: #8411f6;
  --color-javascript: #f9b134;
  --color-typescript: #2f72bc;
  --color-nodejs: #7cb73f;
  --color-angular: #d6002f;
  --color-git: #e84d31;
  --h1-font-size: 3.5rem;
  --p-font-size: 1.6rem;
}

body {
    overflow-x: hidden;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--verdePadrao);
  font-style: fontNormal;
  font-weight: 700;
}

p {
  font-size: var(--p-font-size);
	font-weight: 400;
  font-family: fontLight;
}

a, li, ul {
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}