* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
  }

  main {
    min-width: 320px;
  }

  a, li, ul {
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  @font-face {
    font-family: 'stretch';
    src: url('StretchPro.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
  }